<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Viajes</title>
</head>

<body>

    <a href="/usuarios/detalle"><button>Mi Perfil</button></a>


    <h1>Listado de Viajes</h1>
    <table>
        <thead>
            <tr>
                <th>Origen:</th>
                <th>Destino:</th>
                <th>Salida:</th>
                <th>Precio:</th>
                <th>Asientos Disponibles:</th>
                <th>Comprar Asiento Numero:</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="viaje : ${viajes}">
                <td th:text="${viaje.origen}"></td>
                <td th:text="${viaje.destino}"></td>
                <td th:text="${#temporals.format(viaje.salida, 'dd/MM/yyyy HH:mm')}"></td>
                <td th:text="'$' + ${viaje.precio}"></td>
                <td th:text="${viajeService.numAsientosDisponiblesViaje(viaje)}"></td>
                <td>
                    <form th:action="@{/comprar}" method="post">
                        <input type="hidden" th:name="viajeId" th:value="${viaje.id}">
                        <label>
                            <select th:id="'asiento_' + ${viaje.id}" th:name="asientoId">
                                <option th:each="asiento : ${viajeService.getAsientosDisponibles(viaje)}"
                                    th:value="${asiento.id}" th:text="${asiento.numero}">
                                </option>
                            </select>
                        </label>
                        <button type="submit">Comprar</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>