<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>

<body>
    <h1>Registro Usuario</h1>

    <form th:action="@{/usuarios/registrar}" th:object="${usuario}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label>Email:</label>
        <input type="email" th:field="*{email}" required />
        <br>
        <label>RUT:</label>
        <input type="text" th:field="*{rut}" required />
        <br>
        <label>Contraseña:</label>
        <input type="password" th:field="*{contrasena}" required />
        <br>
        <button type="submit">Guardar</button>

        <p th:if="${error}" th:text="${error}"></p>
    </form>
</body>

</html>