<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">

<head>
    <meta charset="UTF-8">
    <title>Resumen de Compra</title>
</head>

<body>
    <h1>Resumen de Compra</h1>
    <p><b>Viaje:</b></p>
    <ul>
        <li>Origen: <span th:text="${viajeService.findById(viajeId).origen}"></span></li>
        <li>Destino: <span th:text="${viajeService.findById(viajeId).destino}"></span></li>
        <li>Fecha de salida: <span
                th:text="${#temporals.format(viajeService.findById(viajeId).salida, 'dd/MM/yyyy HH:mm')}"></span></li>
    </ul>
    <p><b>Asiento:</b></p>
    <ul>
        <li>Asiento Numero: <span th:text="${asientoService.findById(asientoId).numero}"></span></li>
    </ul>
    <p><b>Confirmar Compra:</b></p>
    <ul>
        <li>Precio: <span th:text="'$' + ${viajeService.findById(viajeId).precio}"></span></li>
        <li>Rut Titular Pasaje: <span th:text="${usuario.rut}"></span></li>
    </ul>
    <form th:action="@{/pagar}" method="POST">
        <input type="hidden" th:name="monto" th:value="${viajeService.findById(viajeId).precio}">
        <input type="hidden" th:name="asientoId" th:value="${asientoId}">
        <button type="submit">Pagar</button>
    </form>
</body>

</html>